/Coho.UI/bin/
/Coho.UI/obj/
/Test/bin/
/Test/obj/
/.vs/
.idea/.idea.Coho.UI/.idea/encodings.xml
.idea/.idea.Coho.UI/.idea/indexLayout.xml
Coho.UI.sln.DotSettings.user
.idea/.idea.Coho.UI/.idea/vcs.xml
